@font-face {
    font-family: "font1";
    src: url("../fonts/Orbitron-Regular.ttf");
    }
body {
    background: #1f1f1f;
    color: #efefef;
    font-family: "font1",Arial;
    
}
#topBar {
    position: fixed;
    background: transparent;
    left: 0;
    min-width: 960px;
    top: 0;
    width: 100%;
    font-size: 1em;
    z-index: 1;
}

#topBarInput {
    position: absolute;
    left: 30%;
    width: 40%;
    height: 2em;
    font-weight: bold;
    letter-spacing: 2px;
    border:2px solid #1f469c;
}
#btn2,#btn1 {
    position: absolute;
    top:0;
    background: #1f469c;
    border: 2px solid #1f469c;
    color: white;
    width: 30%;
    font-weight: bold;
    height: 2em;
    vertical-align: center;
    font-family: "font1",Arial;
    text-transform: uppercase;
}

#btn1 {
    left:0;
}
#btn2 {
    left:70%;
}
#btn2:hover, #btn1:hover {
    border: 2px solid white;
    background: white;
    color: black;
}
#mainContainer {
    background: yellow;
    margin-top: 1em;
    padding: 0;
    color: white;
    width: 100%;
    min-width: 960px;
    height: auto;  
}
iframe {
    position: relative;
    margin: .666666666666666666666666%;
    width: 32%;
    min-width: 300px;
    height: 600px;
    float: left;
}
