@font-face {
    font-family: "custom";
    src: url("../fonts/Orbitron-Regular.ttf");
    }
body {
    background: #1f1f1f;
    color: #efefef;
    font-family: "custom", Arial;
    
}
#topBar {
    position: fixed;
    background:darkcyan;
    -webkit-animation: colors 5s ease-in-out infinite;
    animation: colors 5s ease-in-out infinite;
    left: 0px;
    min-width: 960px;
    top: 0px;
    width: 100%;
    height: 2em;
    z-index: 1;
}
#topBar a {
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    width: 30%;
    height: auto;
    overflow: hidden;
    display: block;
    color: white;
}
#topBarInput {
    position: relative;
    margin-left: 30%;
    width: 40%;
    height: 2em;
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 2;
}
#mainContainer {
    background: yellow;
    margin-top: 1em;
    padding: 0;
    color: white;
    width: 100%;
    min-width: 960px;
    height: auto;  
}
iframe {
    position: relative;
    margin: .666666666666666666666666%;
    width: 32%;
    min-width: 300px;
    height: 600px;
    float: left;
}
@keyframes colors {
    0% {
        background: rgb(77, 121, 26);
    }
    20% {
        background: rgb(104, 112, 35);
    }
    30% {
        background: rgb(112, 101, 4);
    }
    40% {
        background: rgb(107, 92, 48);
    }
    50% {
        background: rgb(112, 9, 78);
    }
    60% {
        background: rgb(146, 88, 70);
    }
    70% {
        background: #42342f;
    }
    80% {
        background: #9E9E9E;
    }
    90% {
        background: rgb(61, 122, 112);
    }
    100% {
        background: rgb(92, 2, 95);
    }
}